h1 {
    font-family: 'Montserrat' bold;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
    font-weight: 900;
}

h2 {
    font-family: 'Montserrat', bold;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', bold;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
}

#cta {
    padding: 5% 10%;
    text-align: center;
    background-color: #ff4c68;

}

#footer {
    text-align: center;
    margin-top: 3%;

}

#text {
    margin: 0px 10px;
    font-weight: 400;
    text-align: center;
    color: #8f8f8f;
    padding-bottom: 30%;
}

#gambar {
    width: 20%;
    color: #ef8173;
}

.icon:hover {
    color: red;
}

#geming {
    width: 20%;
    transform: rotate(30deg);
    position: absolute;
    right: 25%;
}

#utama {
    padding-top: 100px;
    padding-bottom: 70px;
}

#botan {
    margin-top: 5%;
}

#components {
    padding: 3% 15%;
    width: 100%;
}

#title {
    background-color: #ff4c68;
}

#features {
    background-color: white;
    padding-top: 5%;
    position: relative;
    z-index: 1;
}

#testimonials {

    background-color: #ef8173;
    line-height: 1.5;
    font-weight: 900;
}


#press {
    background-color: #ef8173;
    text-align: center;
    padding-bottom: 50px;

}

#pricing {
    padding: 150px;
    text-align: center;
}


.dog-pict {
    border-radius: 100%;
    width: 10%;
}

.doggy {
    padding: 7% 15%;
    color: white;
    text-align: center;
    margin-bottom: 7%;
}

.navbar-brand {
    font-family: 'Prosto One';
    font-size: 2rem;
    color: white;

}

.container-fluid {
    padding: 3% 15%;
}



.nav-item {
    padding: 0px 18px;
}

.row {
    width: 100%;
}

@media screen and (max-width: 1080px) {
    #geming {
        position: static;
        width: 40%;
        transform: rotate(0deg);
    }

    #utama {
        text-align: center;
    }

    h1 {
        text-align: center;
    }


}